{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}
<section class="enquiry-sec">
        <div class="container">
            <h2>BusinessTaxFiling<span>Process</span></h2>
        </div>

     <hr>
    <div class="col-sm-6">

 <h3><b>Business-Tax-Filing</b></h3>


<p>All companies registered in India are required to file income tax returns each year. Under the Income Tax Act, company tax return filing falls under two categories, namely domestic company or foreign company. Companies registered with the Ministry of Corporate Affairs like Private Limited Company, One Person Company or Limited Company are classified as a domestic company.</p>
        <li> Document Collection</li>
        <li>Return Prepartion</li>
        <li>Return Filing</li>
        <p>Basic Income tax return filing for a Proprietorship firm with less than Rs.25 lakh turnover.</p>

        <li>Rs.2899/-</li>
        <li>Pay Online to WebeCreator</li>

    </div>
<div class="text-right" col-sm-6>
    <img src="{% static 'CA_app/images/business-tax.png'%}" height="400px" width="500px">

</div>


{% endblock content %}