{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>ESI Return<span>Process</span></h2>
        </div>

     <hr>
    <div class="col-sm-6">

 <h3><b>ESI Return Filing</b></h3>

        <p>ESI return must be filed monthly by all persons and entities having a ESI registration. CA Office can help prepare and file ESI returns on a monthly basis starting from Rs.799/-</p>
        <li>Document Collection</li>
        <li> Return Prepartion</li>
        <li>Return Filing</li>
    </div>
<div class="text-right" col-sm-6>
    <img src="{% static 'CA_app/images/esi_return.png'%}" height="400px" width="500px">

</div>


{% endblock content %}