{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>GST Return Filing<span>Process</span></h2>
        </div>


     <hr>
    <div class="col-sm-6">

 <h3><b>GST Return Filing</b></h3>

        <p>GST return must be filed by all person having GST registration. CA Office offers an easy process for filing GST return from Rs.499/-</p>
        <li>Information Collection</li>
        <li>GST Return Prepartion</li>
        <li>GST Filing</li>
    </div>
<div class="text-right" col-sm-6>
    <img src="{% static 'CA_app/images/GST.png'%}" height="400px" width="500px">

</div>

{% endblock content %}