{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Accounting <span>Services</span></h2>
        </div>
   <ol>
       <li><h3>• Accounting System Design & Implementation</h3></li>
       <li><h3>• Financial Accounting</h3></li>
       <li><h3>• Budgeting</h3></li>
       <li><h3>• Financial Reporting</h3></li>
       <li><h3>• MIS Reports</h3></li>
       <li><h3>• Financial Analysis</h3></li>
       <li><h3>• Asset Accounting Management</h3></li>
       <li><h3>• Depreciation and Amortization Schedules</h3></li>
   </ol>

{% endblock content %}