{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Audit <span>Services</span></h2>


            <b><h3>Broadly, Audit involves the following :</h3></b>
            <ol>
                <li><h3>• Indepth study of existing systems, procedures and controls for proper understanding. Suggestions for improvement and strengthening.</h3></li>
                <li><h3>• Comprehensive review to ensure that the accounts are prepared in accordance with Generally Accepted Accounting Policies and applicable Accounting Standards/IFRS.</h3></li>
                <li><h3>• Checking the genuineness of the expenses booked in accounts.</h3></li>
                <li><h3>• Reporting inefficiencies at any operational level.</h3></li>
                <li><h3>• Detection and prevention of leakages of income and suggesting corrective measures to prevent recurrence.</h3></li>
                <li><h3>• Certification of the books of account being in agreement with the Balance Sheet and Profit and Loss Account.</h3></li>
                <li><h3>• Issue of Audit Reports under various laws.</h3></li>
            </ol>

            <h3><ul><b>Types of Audits conducted :</b></ul></h3>

  <ol>
      <li><h3>• Statutory Audit of Companies</h3></li>
      <li><h3>• Tax Audit under Section 44AB of the Income Tax Act, 1961.</h3></li>
      <li><h3>• Audit under other sections of the Income Tax Act, 1961 such as 80HHC, 80-IA, etc.</h3></li>
      <li><h3>• Concurrent Audits.</h3></li>
      <li><h3>• Revenue Audit of Banks.</h3></li>
      <li><h3>• Branch Audits of Banks.</h3></li>
      <li><h3>• Audit of PF Trusts, Charitable Trusts, Schools, etc.</h3></li>
      <li><h3>• Audit of Co-operative Socities.</h3></li>
      <li><h3>• Information System Audit</h3></li>
      <li><h3>• Internal Audits.</h3></li>
  </ol>
        </div>
            {% endblock content %}