{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}
<section class="enquiry-sec">
        <div class="container">
            <h2>Coporate <span>Services</span></h2>
        </div>

    <ol>
        <li><h4>• Incorporation of company</h4></li>
        <li><h4>• Consultancy on Company Law matters</h4></li>
        <li><h4>• Planning for Mergers, Acquisitions, De-mergers, and Corporate re-organizations</h4></li>
        <li><h4>• Filing of annual returns and various forms, documents</h4></li>
        <li><h4>• Clause 49 review for compliance with fiscal, corporate and tax laws</h4></li>
        <li><h4>• Secretarial Matters including share transfers</h4></li>
        <li><h4>• Maintenance of Statutory records</h4></li>
        <li><h4>• Consultancy on Public/Rights/Bonus Issue of shares</h4></li>
        <li><h4>• Change of Name, Objects, Registered Office, etc</h4></li>

    </ol>
{% endblock content %}