{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Coporate-Finance <span>Services</span></h2>
        </div>
    <ol>
        <li><h4>• Preparations of Project Reports</h4></li>
        <li><h4>• Preparation of CMA data for bank loans</h4></li>
        <li><h4>• Private placement of shares, Inter-Corporate Deposit, Terms loans, working capital limits, etc</h4></li>
        <li><h4>• External Credit Borrowings (ECBs)</h4></li>
    </ol>
{% endblock content %}