{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>GST <span>Services</span></h2>
        </div>
<ol>
    <li><h4>• GST Migration</h4></li>
    <li><h4>• Obtaining GST Registration</h4></li>
    <li><h4>• Consultancy on matters related to GST</h4></li>
    <li><h4>• Preparation of GST returns.</h4></li>
    <li><h4>• Filing of Electronic/Manual GST returns</h4></li>
    <li><h4>• Help in obtaining statutory forms.</h4></li>
    <li><h4>• Liaison with GST authorities Getting GST Assessments done.</h4></li>
    <li><h4>• Filing and pleading appeals wherever necessary.</h4></li>
    <li><h4>• Consultancy on matters related to Works Contract Tax compliances</h4></li>
    <li><h4>• Other related compliances of GST</h4></li>
</ol>
{% endblock content %}