{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Income <span>Services</span></h2>
        </div>
<ol>
    <li><h4>• Consultancy on various intricate matters pertaining to Income tax</h4></li>
    <li><h4>• Effective Tax Management and Advisory Services</h4></li>
    <li><h4>• Tax Planning for Corporates and others</h4></li>
    <li><h4>• Designing / restructuring salary structure to minimise tax burden</h4></li>
    <li><h4>• Obtaining Advance tax Rulings</h4></li>
    <li><h4>• Obtaining No Objection Certificates from Income Tax department</h4></li>
    <li><h4>• Obtaining PAN for assessees, employees etc</h4></li>
    <li><h4>• Advance tax estimation and deposit</h4></li>
    <li><h4>• Assessing the liability towards deferred taxes</h4></li>
    <li><h4>• Providing regular updates on amendments, circulars, notifications & judgments</h4></li>
    <li><h4>• Filing Income Tax and Wealth Tax returns for all kinds of assessees</h4></li>
    <li><h4>• Filing Income tax returns for employees of corporate clients</h4></li>
    <li><h4>• Liaison with Income tax department for rectification, assessment, obtaining refunds etc</h4></li>
    <li><h4>• Expertise in complicated direct tax assessments</h4></li>
    <li><h4>• Filing and pleading appeals under various provisions of IT Act</h4></li>
    <li><h4>• Special expertise in search, seizure and prosecution litigation</h4></li>
    <li><h4>• Advice on future tax implications in respect of the potential acquisition</h4></li>
    <li><h4>• Opinions on the various Double Tax Avoidance Agreement related issues</h4></li>
    <li><h4>• Settlement of various issues raised under FEMA</h4></li>
</ol>
{% endblock content %}