{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

 <section class="enquiry-sec">
        <div class="container">
            <h2>International <span>Services</span></h2>


<ol>
    <li><h3>• Advisory services on cross border transactions</h3></li>
    <li><h3>• Consultancy for BEPS Project</h3></li>
    <li><h3>• Expatriate Taxation</h3></li>
    <li><h3>• Accounting and Month end reports for management</h3></li>
    <li><h3>• Online Accounting in Quick books</h3></li>
</ol>

        </div>

{% endblock content %}