{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Outsourcing <span>Services</span></h2>
        </div>

    <div><ol>
        <li><h4>• Enables business to concentrate on core business activities</h4></li>
        <li><h4>• Use of manpower for more important functions</h4></li>
        <li><h4>• Investment in fixed assets reduced/minimized</h4></li>
        <li><h4>• Substantial Savings in Cost</h4></li>
        <li><h4>• Services of experts made available</h4></li>
        <li><h4>• Improved Internal Controls</h4></li>
        <lli><h4>• Enhanced reporting capabilities to provide more timely and accurate financial data</h4></lli>
        <li><h4>• Off-site Backup of Data</h4></li>

    </ol>
    </div>
{% endblock content %}