{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>Payroll <span>Services</span></h2>
        </div>

    <div>
        <ol>
            <li><h4>• Preparation of Monthly Salary Sheet</h4></li>
            <li><h4>• Deductions as per applicable laws like Income Tax, Provident Fund, Professional Tax etc</h4></li>
            <li><h4>• Computation and deposit of TDS, ESI, PF etc</h4></li>
            <li><h4>• Disbursement/ Online Payment of Salary</h4></li>
            <li><h4>• Pay slip by password protected e-mail</h4></li>
            <li><h4>• Reimbursement of telephone, medical bills etc</h4></li>
            <li><h4>• Issue of Form 16 to employees</h4></li>
            <li><h4>• Periodic Reconciliation of payments/statutory deductions etc. with books of accounts</h4></li>
            <li><h4>• Administration of gratuity, superannuation, pension schemes etc</h4></li>

        </ol>
    </div>
{% endblock content %}