{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}
<section class="enquiry-sec">
        <div class="container">
            <h2>Service For Non-Resident <span>Services</span></h2>
        </div>
<div>

    <ol>

        <li><h4>• Allotment of Permanent Account number (PAN)</h4></li>
        <li><h4>• Tax planning</h4></li>
        <li><h4>• Obtaining Advance Rulings on debatable issues</h4></li>
        <li><h4>• Consultancy/ advice on FEMA/RBI matters</h4></li>
        <li><h4>• Filing Income Tax/ Wealth Tax Returns</h4></li>
        <li><h4>• Advice on making investments</h4></li>
        <li><h4>• Issuing certificate for repatriation of income / assets from India</h4></li>
        <li><h4>• Making application to RBI for various matters including sale and purchase of residential and commercial properties</h4></li>
    </ol>
</div>

{% endblock content %}