{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}

<section class="enquiry-sec">
        <div class="container">
            <h2>TDS <span>Services</span></h2>
        </div>


    <div>

        <ol>

            <li><h4>• Advice on all matters related to compliance of TDS/TCS provisions</h4></li>
            <li><h4>• Obtaining Tax Deduction Account Number (TAN)</h4></li>
            <li><h4>• Periodic review of TDS/ Withholding Tax compliance</h4></li>
            <li><h4>• Computation of monthly TDS</h4></li>
            <li><h4>• Monthly reconciliation of TDS due and deposited</h4></li>
            <li><h4>• Monthly deposit of TDS electronically/manually</h4></li>
            <li><h4>• Issue of monthly/annual TDS certificates</h4></li>
            <li><h4>• Filing of quarterly E-TDS/Manual Returns</h4></li>
            <li><h4>• Filing of Correction Statements</h4></li>
            <li><h4>• TDS assessment</h4></li>
        </ol>
    </div>
{% endblock content %}