{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://neerajbhagat.com/favicon.ico" type="image/x-icon">
    <title>Neeraj Bhagat & Co. - Chartered Accountant Delhi, Mumbai, Gurgaon</title>
    <meta name="Keywords" content="Direct tax consultancy ,accounting outsourcing services in Delhi, chartered accountant firms in Mumbai,direct foreign investment in India,direct tax consultancy in India" />
    <meta name="Description" content="A reputed Tax Consultant & Charted Accountant, who has helped many to established business in India" />

    <meta name="abstract" content="" />
    <meta name="msvalidate.01" content="3DC4F3983038440BD0DD848016E4333F" />
    <meta name="google-site-verification" content="Y9VLRQHyxVP8RYNpRnQDm-Hie8E5V30c6_zcJ5oUI78" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <link rel='stylesheet' href='https://neerajbhagat.com/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/js_composer.css' type='text/css' media='all' />

    <link rel='stylesheet' href='https://neerajbhagat.com/css/elegant-icons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/theme-styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/theme-shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/style.css' type='text/css' media='all' />

    <link rel='canonical' href='https://neerajbhagat.com/' />

    <!--[if IE]>
        <link rel='stylesheet' id='ie-ivan-theme-styles-css'  href='https://neerajbhagat.com/css/ie.css' type='text/css' media='all' />
        <![endif]-->

    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="https://neerajbhagat.com/css/vc-ie8.css" media="screen"><![endif]-->
    <!--[if gte IE 9]>
                <style type="text/css">
                        ..mega_main_menu,
                        ..mega_main_menu *
                        {
                                filter: none;
                        }
                </style>
        <![endif]-->
    <!-- Global site tag (gtag.js) - Google Ads: 966629398 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-966629398"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-966629398');
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Neeraj Bhagat & Co.",
            "url": "https://neerajbhagat.com",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>

</head>
<section>
    <div class="col-sm-6">

        <h1 class="text-info">FAQs for Exemption of CA Course Fee for students who have lost any parent during Covid-19 Pandemic</h1>
        <h4 style="text-indent: 30px;">Recently the Institute of Chartered Accountants of India (ICAI) has notified that the CA registration fees for all the courses of each level are now exempted for the covid lost parents. Also, it has been mentioned that the candidates need to submit some essential documents for the Chartered Accountant course registration in order to comply with this rule.

Q.1 Is the scheme ‘Exemption of CA Course Fee for the students who have lost their any parent during the Covid – 19 Pandemic’ is significant among all applicants in the nation?

Ans. Yes, The scheme i.e. ‘ Exemption of CA Course Fee for students who have lost any parent during the Covid -19 Pandemic is significant for certain applicants in the nation who are already enrolled or looking for admission in the mentioned course. This particular scheme is significant from 1st April 2020 to 31st March 2023.

Q.2 How the applicants who have lost any parent during the Covid – 19 Pandemic can proceed in regard to taking benefits with the exception of the CA Course fee?

Ans – The certain applicant who have to complete the form in SSP Portal at www.icai.org of their individual courses ( Foundation, Intermediate, and Final) and have to upload the document asked below –

Requested documents as mentioned in the prospectus / Registration form for registering in the individual course.
Additionally, they have to submit the Death certificates including Identity Proof of Mother / Father, as per the case, duly attested by one of the following approved persons :
DCOs Heads/Regional Heads/Officer-in-charge of the Branch.
Principal under whom such student is registered for Articleship.
Central Council Member / Regional Council Member / Managing Committee Member of the Branch.
C) There will be no fees have to pay to the applicants during the time of Provisional registration in the course they are appearing for.

d) During the inspection of the application form, if the applicant will somehow found guilty for an exception of the registration fee, in that case, the form submitted by the applicants will be rejected.

Q.3 What are the steps for benefitting the exception of ICITSS or AICITSS Course Fees for the applicants who have lost any parent during the Covid – 19 Pandemic?

Ans – Applicants have to particularly submit the Death Certificate and Identity Proof of Mother / Father duly certified by anyone during appearing for registration in ICITSS ( [consisting of Information Technology (IT) and Orientation Course (OC)] and AICITSS [consisting Advanced Information Technology (Advanced IT) and Management and Communication Skills (MCS) Course :

DCOs Heads/Regional Heads/Officer-in-charge of the Branch.
Principal under whom such student is registered for Articleship.
Central Council Member / Regional Council
Member / Managing Committee Member of the Branch.
Q.4 Is it possible for the students to take benefits apart from one course?

Ans – Yes, it works on the eligible students. They can grasp the benefits apart from one course ( consisting of ICITSS or AICITSS) subject on the term that registration in the course happened meanwhile the specific time slot from 1st April 2020 to 31st March 2023.

Read Also: ICAI CA Course Fee Fully Exempted for Students lost Parent During Covid-19

Q.5 How about the applicant who lost their parent, insist on a return in case they already have submitted for ICITSS and AICITSS course and cleared requested fees?

Ans – Both the applicants from ICITSS and AICITSS courses had lost either parent meanwhile the significant time pandemic, can email their application to certain PoU for return within all the essential attested certificates as per the declaration. The PoU later after cross-checking the application collected from the applicants will recommend and proceed the same to helpdesk of certain courses.

Q.6 How do the applicants get to return their registration fees (Foundation, Intermediate, or Final) in case they had previously paid and are qualified for reimbursement in terms of the death of any parent ( Father/ Mother) meanwhile the certain time span of Covid Pandemic?

Ans. These certain students have to fill the Google Form (Link is https://appforms.icai.org/coursefeerefund/ and upload the mentioned documents for reimbursement of Registration fees due to the death of any parent (father/mother) meanwhile the certain time span of Covid Pandemic.

Documents to be upload –

(i) Attested copy of Death Certificate of Father in PDF/JPG format

(ii) Attested copy of Death Certificate of Mother in PDF/JPG format

(iii) Attested copy of Identity Proof of Mother / Father, as the case may

be.

(iv) Student’s Passing Certificate of Class X or XII in PDF/JPG

(v) Cancelled Cheque of the Bank Account in PDF/JPG where a refund is to

be credited.

Attestation can be done by:-

1. DCOs Heads/Regional Heads/Officer-in-charge of the Branch.

2. Principal under whom such student is registered for Articleship.

3. Central Council Member / Regional Council

Member / Managing Committee Member of the Branch. </h4>
    </div>
    <div class="col-sm-6">
        <br>
<img src="{% static 'CA_app/images/blog5.jpg'%}">
 <img src="{% static 'CA_app/images/blog3.jpg'%}">

    </div>
<br>
    <hr>
    <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-title-main vc_1442055500336 " data-wow-delay="0ms" data-wow-iteration="1">
                                                    <div class="ivan-title-wrapper  center">
                                                        <div class="title-wrapper  default-display">
                                                            <h2 class="title-heading">Why Virtual CA ?.</h2>
                                                            <h4 class="sub">We are team of qualified &amp; experienced professionals who add value &amp; optimize the benefits accuring to clients, everyday.</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->
                                    </div>
                                </div>
                                <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442308104372">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-cogs fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Qualified Team</h4>
                                                                    <div class="icon-box-content">Our organisation is a congregation of qualified &amp; experienced professionals.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442307808920">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-star fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Robust service</h4>
                                                                    <div class="icon-box-content">We offer sound financial solutions and advices that help you achieve your milestone with ease.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442307834350">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-info fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Legal Services</h4>
                                                                    <div class="icon-box-content">We provide services like company formation and company incorporation in India and help in doing business in india</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442308479466">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-edit fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Taxation service</h4>
                                                                    <div class="icon-box-content">Direct tax consultancy together with innovative tax efficient strategies, provided by us form an integral part of viable business decisions.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-custom-wrapper " style="">
                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">
                                                            <div class="wpb_wrapper">
                                                                <div class="ivan-title-main vc_1443099183128 " data-wow-delay="0ms" data-wow-iteration="1">
                                                                    <div class="ivan-title-wrapper  center">
                                                                        <div class="title-wrapper  default-display">
                                                                            <h3 class="title-heading">Client Testimonials </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- END .wpb_wrapper -->
                                                        </div>
                                                        <!-- END  wpb_column vc_column_container  -->
                                                    </div>
                                                </div>
                                                <!-- .ivan-custom-wrapper -->
<!--                                                <div class="ivan-custom-wrapper " style="">-->
<!--                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">-->
<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443100529860 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">-->
<!--                                                                                Skype call with Neeraj was fantastic. I got key information about Indian Corporate Laws which helped me avoid the glitches. Thanks Neeraj.-->
<!--                                                                            </div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">Mr. Frank Vidal, Art Scape Corporation</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->

<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443097377187 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">We took Neeraj’s financial advices when we decided to setup our plant in India. His valuable advices helped us getting required clearance with ease. </div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">Mr. Hiroki Nose, NAC Nose</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->

<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443097389524 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">Neeraj has the deep knowledge of Indian taxation system. His financial advice has helped us plan the future course of action.</div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">George Adade, Asergis Global</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; .ivan-custom-wrapper &ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                                <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">-->
<!--                                    <div class="vc_row wpb_row vc_row-fluid">-->
<!--                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                            <div class="wpb_wrapper">-->
<!--                                                <div class="wpb_text_column wpb_content_element  vc_custom_2237 ">-->
<!--                                                    <div class="wpb_wrapper">-->
<!--                                                        <p></p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->



</section>
{% endblock content %}