{% extends 'CA_app/Basecode/base.html' %}

{% block content %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://neerajbhagat.com/favicon.ico" type="image/x-icon">
    <title>Neeraj Bhagat & Co. - Chartered Accountant Delhi, Mumbai, Gurgaon</title>
    <meta name="Keywords" content="Direct tax consultancy ,accounting outsourcing services in Delhi, chartered accountant firms in Mumbai,direct foreign investment in India,direct tax consultancy in India" />
    <meta name="Description" content="A reputed Tax Consultant & Charted Accountant, who has helped many to established business in India" />

    <meta name="abstract" content="" />
    <meta name="msvalidate.01" content="3DC4F3983038440BD0DD848016E4333F" />
    <meta name="google-site-verification" content="Y9VLRQHyxVP8RYNpRnQDm-Hie8E5V30c6_zcJ5oUI78" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <link rel='stylesheet' href='https://neerajbhagat.com/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/js_composer.css' type='text/css' media='all' />

    <link rel='stylesheet' href='https://neerajbhagat.com/css/elegant-icons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/theme-styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/theme-shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://neerajbhagat.com/css/style.css' type='text/css' media='all' />

    <link rel='canonical' href='https://neerajbhagat.com/' />

    <!--[if IE]>
        <link rel='stylesheet' id='ie-ivan-theme-styles-css'  href='https://neerajbhagat.com/css/ie.css' type='text/css' media='all' />
        <![endif]-->

    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="https://neerajbhagat.com/css/vc-ie8.css" media="screen"><![endif]-->
    <!--[if gte IE 9]>
                <style type="text/css">
                        ..mega_main_menu,
                        ..mega_main_menu *
                        {
                                filter: none;
                        }
                </style>
        <![endif]-->
    <!-- Global site tag (gtag.js) - Google Ads: 966629398 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-966629398"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-966629398');
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Neeraj Bhagat & Co.",
            "url": "https://neerajbhagat.com",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>

</head>
<section>
    <div class="col-sm-6">

        <h1 class="text-info">CA Exams December 2021 Open Online Forms Submit Last Date</h1>
<h4 style="text-indent: 30px;"> The Institute of Chartered Accountants of India (ICAI) has initiated the Online forms of CA Foundation, Final – old, Final-new, Intermediate (IPC) & Intermediate) Exams for December 2021.

30th Sept 2021 will be the due date for submitting the forms online excluding any late fee and 3rd Oct 2021 is the due date for online form submission with late fees.The dates have been declared by the Institute of Chartered Accountants of India (ICAI) for the next Chartered Accountants Foundation, Intermediate (IPC) (Old Scheme), Intermediate (New Scheme), Final (Old Scheme as well as New Scheme) Examinations.

13th, 15th, 17th & 19th December 2021 are the dates on which the foundation course for examination will be conducted beneath the latest scheme. 6th, 8th, 10th & 12th December 2021, are the notified dates on which the Intermediate (IPC) under Old Scheme, Group I Examination shall get conducted and on 14th,
    16th & 18th December 2021 Group II Examination shall get conducted. On the dates 6th, 8th, 10th & 12th December 2021, the Intermediate (IPC) beneath the new Scheme, Group I Examination shall get conducted besides that on 14th, 16th, 18th & 20th December 2021 Group II Examination shall get conducted.

On 5th, 7th, 9th & 11th December 2021, the final course examination beneath the previous Scheme along with the latest Scheme, Group I Examination will be conducted and on 13th, 15th, 17th & 19th December 2021 Group II examination shall be conducted.
</h4></div>
    <div class="col-sm-6">
        <br>
<img src="{% static 'CA_app/images/blog4.jpg'%}">
 <img src="{% static 'CA_app/images/blog3.jpg'%}">

    </div>

<br>
    <hr>
    <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-title-main vc_1442055500336 " data-wow-delay="0ms" data-wow-iteration="1">
                                                    <div class="ivan-title-wrapper  center">
                                                        <div class="title-wrapper  default-display">
                                                            <h2 class="title-heading">Why Virtual CA ?</h2>
                                                            <h4 class="sub">We are team of qualified &amp; experienced professionals who add value &amp; optimize the benefits accuring to clients, everyday.</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->
                                    </div>
                                </div>
                                <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442308104372">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-cogs fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Qualified Team</h4>
                                                                    <div class="icon-box-content">Our organisation is a congregation of qualified &amp; experienced professionals.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442307808920">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-star fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Robust service</h4>
                                                                    <div class="icon-box-content">We offer sound financial solutions and advices that help you achieve your milestone with ease.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442307834350">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-info fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Legal Services</h4>
                                                                    <div class="icon-box-content">We provide services like company formation and company incorporation in India and help in doing business in india</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

                                        <div class="vc_col-sm-3 wpb_column vc_column_container " data-wow-delay="0ms">
                                            <div class="wpb_wrapper">
                                                <div class="ivan-icon-box-wrapper vc_1442308479466">
                                                    <div class="ivan-icon-box-holder  " data-wow-delay="0ms" data-wow-iteration="1">
                                                        <div class="ivan-icon-box  normal circle large hover-circle shadow-box-effect center">
                                                            <div class="icon-box-holder"><span class="fa-stack main-icon-holder fa-4x"><i class="main-icon fa fa-edit fa-stack-1x"></i></span></div>
                                                            <div class="icon-box-text-holder">
                                                                <div class="icon-box-text-inner">
                                                                    <h4 class="icon-box-title">Taxation service</h4>
                                                                    <div class="icon-box-content">Direct tax consultancy together with innovative tax efficient strategies, provided by us form an integral part of viable business decisions.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END .wpb_wrapper -->
                                        </div>
                                        <!-- END  wpb_column vc_column_container  -->

<!--                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                            <div class="wpb_wrapper">-->
<!--                                                <div class="ivan-custom-wrapper " style="">-->
<!--                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">-->
<!--                                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-title-main vc_1443099183128 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-title-wrapper  center">-->
<!--                                                                        <div class="title-wrapper  default-display">-->
<!--                                                                            <h3 class="title-heading">Client Testimonials </h3>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->

<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; .ivan-custom-wrapper &ndash;&gt;-->
<!--                                                <div class="ivan-custom-wrapper " style="">-->
<!--                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">-->
<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443100529860 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">-->
<!--                                                                                Skype call with Neeraj was fantastic. I got key information about Indian Corporate Laws which helped me avoid the glitches. Thanks Neeraj.-->
<!--                                                                            </div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">Mr. Frank Vidal, Art Scape Corporation</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->

<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443097377187 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">We took Neeraj’s financial advices when we decided to setup our plant in India. His valuable advices helped us getting required clearance with ease. </div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">Mr. Hiroki Nose, NAC Nose</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->

<!--                                                        <div class="vc_col-sm-4 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                                            <div class="wpb_wrapper">-->
<!--                                                                <div class="ivan-testimonial-main vc_1443097389524 " data-wow-delay="0ms" data-wow-iteration="1">-->
<!--                                                                    <div class="ivan-testimonial  boxed-left">-->
<!--                                                                        <div class="main-wrap">-->
<!--                                                                            <div class="testimonial-content">Neeraj has the deep knowledge of Indian taxation system. His financial advice has helped us plan the future course of action.</div>-->
<!--                                                                            <div class="testimonial-meta">-->
<!--                                                                                <div class="meta-inner">-->
<!--                                                                                    <div class="author-infos-holder">-->
<!--                                                                                        <div class="author-infos">-->
<!--                                                                                            <div class="author-name">George Adade, Asergis Global</div>-->
<!--                                                                                        </div>-->
<!--                                                                                    </div>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; .ivan-custom-wrapper &ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                                <div class="ivan-custom-wrapper theme_default row-no-custom-ptop " style="">-->
<!--                                    <div class="vc_row wpb_row vc_row-fluid">-->
<!--                                        <div class="vc_col-sm-12 wpb_column vc_column_container " data-wow-delay="0ms">-->
<!--                                            <div class="wpb_wrapper">-->
<!--                                                <div class="wpb_text_column wpb_content_element  vc_custom_2237 ">-->
<!--                                                    <div class="wpb_wrapper">-->
<!--                                                        <p></p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; END .wpb_wrapper &ndash;&gt;-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END  wpb_column vc_column_container  &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->





</section>
{% endblock content %}