<!DOCTYPE html> {% load static %} <html>
  <head>
    <title>GST Virtual CA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content=" VirtualCA-GST Registration Online | GST Registration Process, Fees, Eligibility, & Expert Help">
    <meta name="description" content="Apply for gst registration online with Meraprofit. Get expert help on gst registration fees and how to get new gst registration and documents required for gst registration.">
    <meta name="keywords" content="gst registration, gst registration procedure, gst registration process, gst registration online, gst registration in india, gst registration fees.">
    <meta name="ROBOTS" content=" ">
    <meta name="copyright" content=" ">
    <meta name="og_site_name" property="og:site_name" content=" ">
    <meta name="og_title" property="og:title" content="GST Registration Online | GST Registration Process, Fees, Eligibility, & Expert Help">
    <meta name="og_image" property="og:image" content="https://www.meraprofit.com/image/header/logo.png">
    <meta name="og_description" property="og:description" content="Apply for gst registration online with Meraprofit. Get expert help on gst registration fees and how to get new gst registration and documents required for gst registration.">
    <meta name="og_url" property="og:url" content="https://www.meraprofit.com/gst-registration">
    <meta name="og_type" property="og:type" content="website">
    <link rel="canonical" href="https://www.meraprofit.com/gst-registration">
    <meta name="theme-color" content="#383072">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="{% static 'CA_app/images/ca_logo_new.jpg'%}" type="image/png" sizes="16x16">


    <link rel="stylesheet" href="{% static 'GST_app/css/gst_new/styles.css'%}">
    <link rel="stylesheet" href="{% static 'GST_app/css/gst_new/pstyle.css'%}">
    <link rel="stylesheet" href="{% static 'GST_app/css/gst_new/mainstyle.css'%}">
    <link rel="stylesheet" href="{% static 'GST_app/css/gst_new/font-awesome.min.css'%}">

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-804804795"></script>
    <script>
      function gtag() {
        dataLayer.push(arguments)
      }
      window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "AW-804804795")
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119811360-1"></script>
    <script>
      function gtag() {
        dataLayer.push(arguments)
      }
      window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-119811360-1")
    </script>
    <script>
      function gtag_report_conversion_dsc(n) {
        return gtag("event", "conversion", {
          send_to: "AW-804804795/oGlNCMKMguUCELux4f8C",
          event_callback: function() {
            void 0 !== n && (window.location = n)
          }
        }), !1
      }
    </script>
    <script>
      ! function(a, e, t, n, o) {
        var c, r, d;
        a[o] = a[o] || [], c = function() {
          var e = {
            ti: "137001965"
          };
          e.q = a[o], a[o] = new UET(e), a[o].push("pageLoad")
        }, (r = e.createElement(t)).src = "//bat.bing.com/bat.js", r.async = 1, r.onload = r.onreadystatechange = function() {
          var e = this.readyState;
          e && "loaded" !== e && "complete" !== e || (c(), r.onload = r.onreadystatechange = null)
        }, (d = e.getElementsByTagName(t)[0]).parentNode.insertBefore(r, d)
      }(window, document, "script", 0, "uetq")
    </script>
    <link rel="stylesheet" href="https://www.meraprofit.com/assets/css/finance/gst/seprate_header_footer.css">
    <style>
      .landing_info_parent .appli_process .progress-label {
        font-weight: 400
      }
    </style>
  </head>
  <body class="landing_passport_body">
    <style>
      .logo_are_wh img {
        max-width: 320px;
        width: 100%;
        height: 60%;
        margin-top: 12px
      }

      .right_links li a img {
        width: 18px;
        height: 18px
      }

      @media (max-width:767px) {
        .logo_left {
          max-width: 100%;
          width: 100%;
          float: left
        }

        .logo_left a img {
          width: 100%;
          margin-top: 8px
        }
      }
    </style>
    <header class="recharge_navbar hidden-xs">
      <div class="top_cutomer">
        <div class="container-fluid custom_container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled list-inline pull-right right_links">
                <li>
                  <a href="https://www.meraprofit.com/support" type="button">
                    <img src="{% static 'CA_app/images/ca_logo_new.jpg'%}" alt="Customer Assistance" width="100%" height="100%"> Customer Assistance </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid custom_container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo_main">
                <div class="logo_are_wh">
                  <a href="{% url 'gst_home'%}">
<!--                    <img src="{% static 'GST_app/images/GST-Logo1.jpg'%}" width="100%" height="200px">-->
<!--                         <img src="https://www.meraprofit.com/assets/image/meraprofit/gst_top_logo.png" alt="GST logo" width="100%" height="100%" />-->
<h1><b><i>GST</i></b></h1>
                  </a>
                </div>
              </div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="{% url 'home'%}">Home</a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'reg'%}">GST Registration</a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'gst_cancel'%}">GST Cancellation</a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'gst_change'%}">GST Modification</a>
                </li>
                <li class="dropdown">
                  <a href="#">Track Status</a>
                </li>
                <li class="dropdown-last">
                  <a href="#">FAQs</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="hidden-lg hidden-md hidden-sm">
      <header class="header_bg">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="logo_left">
                <a href="https://www.meraprofit.com/gst-registration">
                  <img src="{% static 'GST_app/images/gsthome.jpg'%}" alt="GST Logo" data-alt="" width="100%" height="100%">
                </a>
              </div>
            </div>
            <div class="col-xs-6 pull-right">
              <div class="right_info pull-right">
                <div class="search_area">
                  <a href="javascript:void(0);">
                    <img class="blurimg" lsrc="https://www.meraprofit.com/assets/image/recharge/search.png" alt="Search" data-alt="" width="100%" height="100%">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="all_section">
      <section class="landing_passport_sec">
        <div class="banner_passport banner_mob">
          <img src="#" alt="GST Mobile Banner" class="img-responsive" width="100%" height="100%">
        </div>
        <br>
        <div class="container-fluid custom_container">
          <div class="landing_bg">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 iconbox_parent">
              <div class="row">
                <a href="{% url 'reg'%}" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-star"></i>
                          </div>

                          <div class="iconbox_meta">
                            <h4 class="iconbox_title"><b> GST Registration</b></h4>
                            <div class="iconbox_text">
                              <p>Make your growing business GST Compliant. <b>Apply</b>for <b>GST</b>Now and get Expert help on GST Registration and Filing. <b>Click here</b>to get started. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="{% url 'gst_cancel'%}" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="iconbox_meta">
                            <h4 class="iconbox_title">Apply for GST Surrender/Cancellation</h4>
                            <div class="iconbox_text">
                              <p>Get your GST Surrendered. <b>Click here</b>to get started. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="{% url 'gst_change'%}" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="iconbox_meta">
                            <h4 class="iconbox_title">Apply for GST Modification/Changes</h4>
                            <div class="iconbox_text">
                              <p>If you want <b>Changes/ Correction</b>in Trade Name, Address, Partners/Directors, Name/DOB, Contact Details, or any other details, <b>Click here</b>to apply Now </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="row">
                <a href="#" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </div>
                          <div class="iconbox_meta">
                            <h4 class="iconbox_title">Track Status</h4>
                            <div class="iconbox_text">
                              <p>Click here to track your GST Application Status. You can see your GST status here.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="#" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                          </div>
                          <div class="iconbox_meta">
                            <h4 class="iconbox_title"><b>Upload Documents</b></h4>
                            <div class="iconbox_text">
                              <p>If you have not Uploaded your documents yet Click here to <b>UPLOAD DOCUMENTS</b>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="https://www.meraprofit.com/finance/gst/gst-faqs" target="_blank" class="iconbox-link">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="column_inner">
                      <div class="wpb_wrapper">
                        <div class="iconbox iconpos_left">
                          <div class="iconbox_icon">
                            <i class="fa fa-question" aria-hidden="true"></i>
                          </div>
                          <div class="iconbox_meta">
                            <h4 class="iconbox_title">FAQ</h4>
                            <div class="iconbox_text">
                              <p>
                                <b>Click Here</b>if you have any <b>QUERIES</b>regarding GST Application Filing. FAQ Section
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 landing_info_parent">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 abt_passport">
                  <div class="column_inner">
                    <div class="wpb_wrapper">
                      <div class="landing_info_title">
                        <h4>
                          <span>About GSTIN</span>
                        </h4>
                      </div>
                      <div class="landing_info_desc">
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                                  <i class="fa fa-angle-down control-icon" aria-hidden="true"></i>
                                  <i class="fa fa-laptop" aria-hidden="true"></i>WHAT IS GSTIN ? </a>
                              </h4>
                            </div>
                            <div id="collapse-one" class="panel-collapse collapse in">
                              <div class="panel-body">Goods and Service Tax (GST) is an indirect tax levied on the supply of goods and services. This law has replaced many indirect tax laws that previously existed in India. GST is one indirect tax for the entire country.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                                  <i class="fa fa-angle-down control-icon" aria-hidden="true"></i>
                                  <i class="fa fa-gift" aria-hidden="true"></i>WHY GSTIN ? </a>
                              </h4>
                            </div>
                            <div id="collapse-tow" class="panel-collapse collapse">
                              <div class="panel-body">GST helps to build a transparent and will increase efficiency in tax administration. It has only three accounts; CGST, SGST, IGST have to be maintained. So it is a Simplified and cost saving system as procedural cost reduces due to uniform accounting for all types of taxes.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                                  <i class="fa fa-angle-down control-icon" aria-hidden="true"></i>
                                  <i class="fa fa-tint" aria-hidden="true"></i>Types Of GST </a>
                              </h4>
                            </div>
                            <div id="collapse-three" class="panel-collapse collapse">
                              <div class="panel-body">GST and its 3 types- <b>CGST, SGST AND IGST</b>are effectively supporting such major economic development programs. </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 appli_process">
                  <div class="column_inner">
                    <div class="wpb_wrapper">
                      <div class="landing_info_title">
                        <h4>
                          <span>Application Process</span>
                        </h4>
                      </div>
                      <div class="landing_info_desc">
                        <div class="progress-label">Fill Online Form</div>
                        <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-primary" data-progress-animation="25%" style="width:25%">
                            <span class="percentage">25 %</span>
                          </div>
                        </div>
                        <div class="progress-label">Make Payment</div>
                        <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-primary" data-progress-animation="50%" data-appear-animation-delay="00" style="width:50%">
                            <span class="percentage">50 %</span>
                          </div>
                        </div>
                        <div class="progress-label">Upload Documents & Get Pre-Verified</div>
                        <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-primary" data-progress-animation="75%" data-appear-animation-delay="00" style="width:75%">
                            <span class="percentage">75 %</span>
                          </div>
                        </div>
                        <div class="progress-label">Get Your GSTIN Number</div>
                        <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-primary" data-progress-animation="100%" data-appear-animation-delay="00" style="width:100%">
                            <span class="percentage">100 %</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why_choose">
                  <div class="column_inner">
                    <div class="wpb_wrapper">
                      <div class="landing_info_title">
                        <h4>
                          <span>Why Choose Us ?</span>
                        </h4>
                      </div>
                      <div class="landing_info_desc">Our expertise lies in delivering what we commit. We make sure to get the things done and believe in the motto that customer is the Boss. meraprofit.com have endlessly increasing and proud list of satisfied clients.</div>
                      <div class="hr1" style="margin-bottom:14px"></div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <ul class="icons-list">
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Dedicated Support
                            </li>
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Regular Updates
                            </li>
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Quick Service
                            </li>
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Call Assistance
                            </li>
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Hassle Free
                            </li>
                            <li>
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>Online Assistance
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section_where">
          <div class="container-fluid custom_container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="big_title">
                <h1>
                  <strong>Value</strong>of a GSTIN
                </h1>
                <p class="title-desc"></p>
              </div>
              <div class="short_desc">The goods and services tax (GST) is a value-added tax levied on most goods and services sold for domestic consumption. The GST is paid by consumers, but it is remitted to the government by the businesses selling the goods and services. In effect, GST provides revenue for the government.</div>
              <div class="hr1" style="margin-bottom:14px"></div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <ul class="icons-list">
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Take input tax credit.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Make interstate sales without restrictions.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Limited compliance for Composition dealers.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Lesser Tax Liability.
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <ul class="icons-list">
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Reduction in logistics cost and time taken across states.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Higher exemptions to new businesses.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>Making it easier to do business.
                    </li>
                    <li>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>It increases the proximity of our tax system to the global tax system..
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hr1" style="margin-bottom:20px"></div>
            </div>
          </div>
        </div>
        <style>
          .dst_new_doct {
            width: 100%;
            display: inline-block;
            background-color: #fff
          }

          .gsthr_contents h3 {
            font-size: 26px;
            line-height: 32px;
            font-weight: 400
          }

          .gsthr_contents ol,
          .gsthr_contents ul {
            margin-left: 15px
          }

          .gsthr_contents ul li {
            list-style-type: disc
          }

          .gsthr_contents {
            width: 100%;
            display: inline-block;
            margin-bottom: 15px
          }

          .gsthr_contents h3 {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 24px
          }

          .gsthr_contents p {
            margin-bottom: 10px
          }

          .gsthr_contents ol li,
          .gsthr_contents ul li {
            list-style-type: disc;
            margin-bottom: 6px
          }

          .white_bg_c {
            width: 100%;
            display: inline-block;
            padding: 25px 54px;
            background-color: #fff
          }

          .gray_bg_c {
            width: 100%;
            display: inline-block;
            padding: 25px 54px;
            background-color: #fafafa
          }

          @media (max-width:767px) {
            .header_bg {
              display: block !important
            }

            .top_back_app {
              display: none !important
            }

            .white_bg_c {
              width: 100%;
              display: inline-block;
              padding: 15px 30px;
              background-color: #fff
            }

            .gray_bg_c {
              width: 100%;
              display: inline-block;
              padding: 15px 30px;
              background-color: #fafafa
            }
          }
        </style>
        <div class="white_bg_c">
          <div class="gsthr_contents">
            <h3>GST Registration Online</h3>
            <p>Under the GST regime, all taxpayers are registered on a unified portal for compliance and administration purposes. They are assigned registration under a single authority. On registration, all the taxpayers are assigned a unique Goods and Services Tax Identification Number (GSTIN).</p>
            <p>GSTIN is a PAN based PAN-based 15-digit Number which is constituted as below:</p>
            <ol class="list_pass">
              <li>The first two digits represent the state code as per Indian Census 2011. Every state has a unique code. For instance, State code of Karnataka is 29, State code of Delhi is 07</li>
              <li>The next ten digits will be the PAN number of the taxpayer</li>
              <li>The thirteenth digit will be assigned based on the number of registration within a state</li>
              <li>The fourteenth digit will be Z by default</li>
              <li>The last digit will be for check code. It may be an alphabet or a number.</li>
            </ol>
            <p>Any taxpayer looking to get registered needs to apply on the GST portal with the requisite details like name, nature of business, service/ product code category, details of promoters/ directors among other. On application, the details are sent to the local GST department for approval and allotment of GSTIN.</p>
          </div>
        </div>
        <div class="gray_bg_c">
          <div class="gsthr_contents">
            <h3>What is GST (Goods & Service Tax)</h3>
            <p>The Goods and Services Tax or GST is an indirect tax which has replaced most of the indirect taxes in India such as the VAT, excise duty, services tax, etc. The Goods and Service Tax Act came into effect on 1st July 2017. GST is levied on the supply of goods and services. It is a comprehensive, multi-stage, destination-based tax that is levied on every value addition. The GST law is applicable all across India.</p>
            <p>Under the GST regime, the tax is levied at every point of sale/value addition. In the case of intra-state sales, Central GST and State GST are charged on every sale whereas all the inter-state sales are chargeable to the Integrated GST tax Following taxpayers are required to be registered under GST:</p>
            <ol class="list_pass">
              <li>Businesses with turnover above the threshold limit of Rs. 40 Lakhs (Rs. 10 Lakhs for North-Eastern States, J&K, Himachal Pradesh and Uttarakhand. For service providers, the limit is Rs. 20 Lakhs)</li>
              <li>Inter state suppliers</li>
              <li>Casual taxable person / Non-Resident taxable person</li>
              <li>Agents of a supplier & Input service distributor</li>
              <li>Those paying tax under the reverse charge mechanism</li>
              <li>Person who supplies via e-commerce aggregator</li>
              <li>Every e-commerce aggregator</li>
              <li>Person supplying online information and database access or retrieval services from a place outside India to a person in India, other than a registered taxable person</li>
            </ol>
          </div>
        </div>
        <div class="white_bg_c">
          <div class="gsthr_contents">
            <h3>How to get GST Number</h3>
            <p>GST Number can be applied in an online process which requires multiple details of the business being registered. It requires various details regarding the business along with the following documents:</p>
            <ol class="pass_list">
              <li>Cancelled Cheque</li>
              <li>Bank Account Statement (Name and address Details only)</li>
              <li>Rent Agreement</li>
              <li>Electricity Bill+ No objection Certificate (NOC)</li>
              <li>Passport Size Photograph</li>
              <li>Permanent Account Number (PAN)</li>
            </ol>
          </div>
        </div>
        <div class="gray_bg_c">
          <div class="gsthr_contents">
            <h3>Documents Required for Goods and Services Tax (GST) Registration</h3>
            <p>
              <a href="javascript:void(0);" class="linksde">Documents Required For Proprietor</a>
            </p>
            <ol class="pass_list">
              <li>PAN Card of Proprietor</li>
              <li>Aadhaar Card of Proprietor</li>
              <li>Photograph of Proprietor</li>
            </ol>
            <p>
              <b>Address proof of business</b>
            </p>
            <p>
              <b>Own office</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Rented office</b>
            </p>
            <ol class="pass_list">
              <li>Rent agreement</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Consented office</b>
            </p>
            <ol class="pass_list">
              <li>No objection certificate (NOC) from the owner (Format will be provided by us)</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Bank details</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Cancelled Cheque / Latest Bank Statement / First Page of Passbook (Any 1)</li>
            </ol>
            <p>
              <a href="javascript:void(0);" class="linksde">Documents Required For Firm</a>
            </p>
            <ol class="pass_list">
              <li>PAN Card of the Partnership Firm</li>
              <li>Partnership Deed</li>
              <li>PAN card, Photograph and Aadhaar card of all Partners</li>
              <li>Proof of appointment of authorized signatory- Letter of Authorization (Format will be provided by us)</li>
            </ol>
            <p>
              <b>Address proof of business</b>
            </p>
            <p>
              <b>Own office</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Rented office</b>
            </p>
            <ol class="pass_list">
              <li>Rent agreement</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Consented office</b>
            </p>
            <ol class="pass_list">
              <li>No objection certificate (NOC) from the owner (Format will be provided by us)</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Bank details</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Cancelled Cheque / Latest Bank Statement / First Page of Passbook (Any 1)</li>
            </ol>
            <p>
              <a href="javascript:void(0);" class="linksde">Documents Required For Private Limited / Public limited / One person company / LLP</a>
            </p>
            <ol class="pass_list">
              <li>PAN Card of the company</li>
              <li>Certificate of Incorporation / Registration Certificate of the company</li>
              <li>PAN card, Photograph and Aadhaar card of all Directors</li>
              <li>Proof of appointment of authorized signatory- Letter of Authorization (Format will be provided by us)</li>
            </ol>
            <p>
              <b>Address proof of business</b>
            </p>
            <p>
              <b>Own office</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Rented office</b>
            </p>
            <ol class="pass_list">
              <li>Rent agreement</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Consented office</b>
            </p>
            <ol class="pass_list">
              <li>No objection certificate (NOC) from the owner (Format will be provided by us)</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Bank details</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Cancelled Cheque / Latest Bank Statement / First Page of Passbook (Any 1)</li>
            </ol>
            <p>
              <a href="javascript:void(0);" class="linksde">Documents Required For HUF</a>
            </p>
            <ol class="pass_list">
              <li>PAN card of HUF</li>
              <li>Photograph, Pan Card and Aadhaar card of Karta</li>
              <li>HUF Affidavit (Format will be provided by us)</li>
            </ol>
            <p>
              <b>Address proof of business</b>
            </p>
            <p>
              <b>Own office</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Rented office</b>
            </p>
            <ol class="pass_list">
              <li>Rent agreement</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Consented office</b>
            </p>
            <ol class="pass_list">
              <li>No objection certificate (NOC) from the owner (Format will be provided by us)</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Bank details</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Cancelled Cheque / Latest Bank Statement / First Page of Passbook (Any 1)</li>
            </ol>
            <p>
              <a href="javascript:void(0);" class="linksde">Documents Required For Society or Trust or Club</a>
            </p>
            <ol class="pass_list">
              <li>Pan Card of society/Trust/Club</li>
              <li>Registration Certificate</li>
              <li>Photograph, PAN Card and Aadhar of Promoter/ Partners</li>
              <li>Proof of appointment of authorized signatory- Letter of Authorization (Format will be provided by us)</li>
            </ol>
            <p>
              <b>Address proof of business</b>
            </p>
            <p>
              <b>Own office</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Rented office</b>
            </p>
            <ol class="pass_list">
              <li>Rent agreement</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Consented office</b>
            </p>
            <ol class="pass_list">
              <li>No objection certificate (NOC) from the owner (Format will be provided by us)</li>
              <li>Copy of Latest Electricity Bill/ Municipal Khata Copy/ Latest Property Tax Receipt / Property Documents (Any 1)</li>
            </ol>
            <p>
              <b>Bank details</b>
            </p>
            <ol class="pass_list">
              <li>Copy of Cancelled Cheque / Latest Bank Statement / First Page of Passbook (Any 1)</li>
            </ol>
            <p>For purpose of identity proof, one can use a PAN Card or Aadhar Card. For address proof, any of the directors can show their voters ID, passport, telephone bill, electricity bill and telephone bill.</p>
          </div>
        </div>
        <div class="white_bg_c">
          <div class="gsthr_contents">
            <h3>Benefits of GST</h3>
            <ol class="pass_list">
              <li>GST envisages all transactions and processes to be done only through the electronic mode, to achieve a non-intrusive administration. This minimises the taxpayer's physical interaction with tax officials.</li>
              <li>Taxpayers with a turnover of less than Rs.1.5 crore can opt for composition scheme to get rid of tedious GST formalities and pay GST at a fixed rate of turnover.</li>
              <li>GST provides for the facility of auto-populated monthly returns and annual return.</li>
              <li>It also facilitates taxpayers by prescribing grant of refund within 60 days, and provisional release of 90 per cent refund to exporters within 7 days.</li>
              <li>Further facilitation measures include interest payment if refund is not sanctioned in time, and refund is to be directly credited to bank accounts.</li>
              <li>Comprehensive transitional provisions for ensuring smooth transition of existing taxpayers to GST regime, credit for available stocks, etc.</li>
              <li>Other provisions include system of GST compliance rating, etc.</li>
              <li>Anti-profiteering provisions for protection of consumer rights: Any benefit by way of reduction in rate of tax or increase in input tax credit arising due to introduction of GST are passed on to customers by way of commensurate reduction in sale prices of products and services.</li>
              <li>Under the GST regime, exports are zero-rated in entirety, unlike the earlier system where refund of some of the taxes did not take place due to fragmented nature of indirect taxes between the Centre and states.</li>
              <li>GST is largely technology-driven and reduces the human interface to a great extent</li>
              <li>GST is believed to have improved ease of doing business in India.</li>
              <li>Helps a person to be legally recognized as supplier of goods or services.</li>
            </ol>
          </div>
        </div>
        <div class="container-fluid custom_container disclaimer_sec">
          <div class="disclaimer_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="heading_tab">DISCLAIMER POLICY</h5>
            <div class="disclaimer_text" style="text-align:justify">This disclaimer is applicable to this website. By using or accessing this website you agree with the terms and conditions as mentioned on this website. This website may contain hyperlinks to websites that are not managed by us. We do not accept any responsibility for the content, the availability or the quality of offers made on external websites. This is just a website that assists on Financial, Taxation & Secretarial Services. This is not a Government Website. We are a Private Company managing this website and providing services and assistance for Business Benefits. Although the greatest possible care has been exercised to ensure the correctness and completeness of the information provided on this website, we do not accept any liability for it.</div>
          </div>
        </div>
      </section>
    </div>
    <section class="payment_secure hidden-xs">
      <div class="container-fluid custom_container">
        <div class="row">
          <ul class="list-unstyled list-inline payment_secure_in">
            <li>
              <a href="javascript:void(0)">
                <img src="https://www.meraprofit.com/assets/image/secure_pay.png" width="100%" height="100%" alt="100% Secure Payments">
                <h4>100% Secure Payments</h4>
                <p>Moving your card details to a much more secured place</p>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="https://www.meraprofit.com/assets/image/trust_pay.png" width="100%" height="100%" alt="Trust Pay">
                <h4>Trust Pay</h4>
                <p>100% secure payment. SSL Protection</p>
              </a>
            </li>
            <li>
              <a href="https://www.meraprofit.com/support">
                <img src="https://www.meraprofit.com/assets/image/24x7_support.png" width="100%" height="100%" alt="Support">
                <h4>Support</h4>
                <p>We’re here to help. Have a query and need help? Click here</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="new_flight_foot hidden-xs">
      <div class="container-fluid custom_container">
        <div class="row">
          <div class="links_top_parent">
            <div class="inditab_footer_links">
              <ul class="list-inline list-unstyled">
                <li>
                  <a href="{% url 'about'%}">ABOUT US</a>
                </li>
                <li>
                  <a href="https://www.meraprofit.com/contact-us">COMPLAINTS</a>
                </li>
                <li>
                  <a href="https://www.meraprofit.com/privacy-policy">PRIVACY</a>
                </li>
                <li>
                  <a href="https://www.meraprofit.com/terms-and-conditions">TERMS OF USE</a>
                </li>
                <li>
                  <a href="https://www.meraprofit.com/support">CUSTOMER SERVICE</a>
                </li>
              </ul>
            </div>
            <div class="inditab_socials_links">
              <ul class="list-inline list-unstyled pull-right">
                <li>
                  <a href="https://www.facebook.com/meraprofit/" target="_blank">
                    <img src="https://www.meraprofit.com/assets/image/fb.png" alt="Meraprofit Facebook" width="100%" height="100%">
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UC5FaqGTSCWebHCg2egEGVJg" target="_blank">
                    <img src="https://www.meraprofit.com/assets/image/youtube.png" alt="Meraprofit Youtube" width="100%" height="100%">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/meraprofit/" target="_blank">
                    <img src="https://www.meraprofit.com/assets/image/insta.png" alt="Meraprofit Instagram" width="100%" height="100%">
                  </a>
                </li>
                <li>
                  <a href="https://in.linkedin.com/company/meraprofit" target="_blank">
                    <img src="https://www.meraprofit.com/assets/image/linkedin.png" alt="Meraprofit linkedin" width="100%" height="100%">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="inditab_copyright">
        <div class="container-fluid custom_container">
          <p>© 2021 Meraprofit Quicksolutions Pvt Ltd. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
    <footer class="mobile_footer hidden-lg hidden-md hidden-sm">
      <div class="top_m_links">
        <ul>
          <li>
            <a href="https://www.meraprofit.com/about-us">ABOUT US</a>
          </li>
          <li>
            <a href="https://www.meraprofit.com/contact-us">COMPLAINTS</a>
          </li>
          <li>
            <a href="https://www.meraprofit.com/privacy-policy">PRIVACY</a>
          </li>
          <li>
            <a href="https://www.meraprofit.com/terms-and-conditions">TERMS OF USE</a>
          </li>
          <li>
            <a href="https://www.meraprofit.com/support">CUSTOMER SERVICE</a>
          </li>
        </ul>
      </div>
      <div class="inditab_socials_links">
        <ul class="list-inline list-unstyled text-center">
          <li>
            <a href="https://www.facebook.com/meraprofit/" target="_blank">
              <img src="https://www.meraprofit.com/assets/image/fb.png" alt="Meraprofit Facebook Page" width="100%" height="100%">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC5FaqGTSCWebHCg2egEGVJg" target="_blank">
              <img src="https://www.meraprofit.com/assets/image/youtube.png" alt="Meraprofit Youtube Page" width="100%" height="100%">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/meraprofit/" target="_blank">
              <img src="https://www.meraprofit.com/assets/image/insta.png" alt="Meraprofit Instagram Page" width="100%" height="100%">
            </a>
          </li>
          <li>
            <a href="https://in.linkedin.com/company/meraprofit" target="_blank">
              <img src="https://www.meraprofit.com/assets/image/linkedin.png" alt="Meraprofit Linkedin Page" width="100%" height="100%">
            </a>
          </li>
        </ul>
      </div>
      <div class="inditab_copyright">
        <div class="container-fluid custom_container">
          <p>© 2021 Meraprofit Quicksolutions Pvt Ltd. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
    <script>
      var Base_URL = "https://www.meraprofit.com/"
    </script>

    <script src="{% static 'GST_app/js/finance/meraprofit/jquery-2.2.4.min.js'%}"></script>
    <script src="{% static 'GST_app/js/finance/meraprofit/bootstrap.min.js'%}"></script>
    <script src="{% static 'GST_app/js/finance/meraprofit/rd-navbar.js'%}"></script>
    <script src="{% static 'GST_app/js/finance/meraprofit/script.js'%}"></script>
    <script src="{% static 'GST_app/js/finance/meraprofit/hc-offcanvas-nav.js'%}"></script>
    <script src="{% static 'GST_app/js/finance/meraprofit/custom_mobile.js'%}"></script>


    <script src="{% static 'GST_app/js/gst.js'%}"></script>
    <script src="{% static 'GST_app/js/gst-form.js'%}"></script>
    <script src="{% static 'GST_app/js/state_dist_json.js'%}"></script>
    <script src="{% static 'GST_app/js/state_dist_json.js'%}"></script>
    <script src="{% static 'GST_app/js/validate_gst_payment_options.js'%}"></script>


  </body>
</html>